{% extends "index_doctor.html" %}
{% block title %}模型预测{% endblock %}


{% block body %}
<div style="width: 1200px;margin: auto">
    <br />
    <form action ="predict_model" class="layui-form" method="post" id="predict">
    {{ form.csrf_token }}
        <div class="layui-form-item">
                <label class="layui-form-label">Feature1</label>
                <div class="layui-input-block">
                  <input type="text" name="title" required  lay-verify="required" placeholder="请输入Feature1" autocomplete="off" class="layui-input">
                </div>
        </div>
        <div class="layui-form-item">
                <label class="layui-form-label">Feature2</label>
                <div class="layui-input-block">
                  <input type="text" name="title" required  lay-verify="required" placeholder="请输入Feature2" autocomplete="off" class="layui-input">
                </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Feature3</label>
            <div class="layui-input-block">
              <input type="text" name="title" required  lay-verify="required" placeholder="请输入Feature3" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
              <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

    <table id="test" lay-filter="test"></table>
</div>
{% endblock %}

{% block script %}
{% endblock %}

